﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ДЕТАЛЬКОМПЛЕКТ</h1>
    <p><a href="./Catalog/List">К каталогу грузового транспорта</a>.</p>
</div>
