﻿@using Kursa4Sitairis.Core
@model Product

<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <span>
            @{
                if (Model.Image != null)
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" />
                }


            }

        </span>

        <span><b class="d-flex flex-row-reverse">Цена в час : @Model.Price</b></span>
    </div>
    <div class="card-footer">
        <a class="btn btn-info" asp-page="./Detail" asp-route-productId="@Model.Id">
            <b>Инфо</b>
            <i class="carousel-control-next-icon"></i>
        </a>

        <a class="btn btn-info" asp-page="./Edit" asp-route-productId="@Model.Id">
            <b>Редактировать</b>
            <i class="carousel-control-next-icon"></i>
        </a>
        <a class="btn btn-info" asp-page="./Delete" asp-route-productId="@Model.Id">
            <b>Удалить</b>
            <i class="carousel-control-next-icon"></i>
        </a>
    </div>
</div>