﻿@page "{productId}"
@model Kursa4Sitairis.Pages.Catalog.DeleteModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="alert alert-danger">
        Вы уверены в удалении @Model.Product.Name ?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Да</button>
        <a asp-page="List" class="btn btn-secondary">Отмена</a>
    </form>
</body>
</html>

