﻿@page "{productId:int}"
@model Kursa4Sitairis.Pages.Catalog.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Product.Name</h2>
<div>
    Id: @Model.Product.Id
</div>
<div>
    Цена в час: @Model.Product.Price
</div>
<div>
    Категория: @Model.Product.Category
</div>
<div>
    Изображение:
    <br />
    @{
        if (Model.Product.Image != null)
        {
            var base64 = Convert.ToBase64String(Model.Product.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <img src="@imgSrc" />
        }
    }

</div>

<div>
    3D-модель:
    <br />
    <h5>
        @{
            if (Model.Product.Image != null)
            {
                @string.Concat(Model.Product.Name, ".fbx");
            }
        }
    </h5>
    

</div>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<a asp-page="./List" class="btn btn-info">Каталог транспорта</a>

