﻿@page "{productId:int?}"
@model Kursa4Sitairis.Pages.Catalog.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Изменение @Model.Product.Name</h2>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <div class="form-group">
        <label asp-for="Product.Name">Название модели</label>
        <input asp-for="Product.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Product.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price">Цена в час</label>
        <input asp-for="Product.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Product.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Category">Категория транспорта</label>
        <input asp-for="Product.Category" class="form-control" />
        <span class="text-danger" asp-validation-for="Product.Category"></span>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Img" class="control-label">Фото</label>
            <div class="custom-file">
                <input type="file" asp-for="Img"
                       class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Выберите файл</label>
            </div>
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>

</form>

@section scripts
{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

