﻿@page
@model Kursa4Sitairis.Pages.Catalog.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Каталог транспорта</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-info">
                    <i class="navbar-toggler-icon"></i>
                </button>
            </span>
        </div>
    </div>
</form>


<div>
    <a class="btn btn-info" asp-page="./Edit">
        <b>Добавить модель транспорта</b>
        <i class="carousel-control-next-icon"></i>
    </a>
</div>

@foreach (var product in Model.Products)
{
    <partial name="_Summary" model="product" />
}


@section footer {
    <div>@Model.Message</div>
}
