﻿@page
@model Kursa4Sitairis.Pages.Catalog.ListModel
@{
    ViewData["Title"] = "Orders";
}

<h1>Список заказов</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-info">
                    <i class="navbar-toggler-icon"></i>
                </button>
            </span>
        </div>
    </div>
</form>



@foreach (var product in Model.Products)
{
    <partial name="_Summary" model="product" />
}


@section footer {
    <div>@Model.Message</div>
}
